body{
    background-color: rgb(127, 238, 255);
    text-align: center;
}
@media (min-width:320px ) and ( max-width :1024px ) {
    p{
        color: chartreuse;
        background-color: rgb(224, 85, 182);
        text-align: center;
    }
}
p:active{
    color:lightseagreen;
}
button:hover{
    background-color: aqua;
    border-color: chartreuse;
    border-width: 5px;
}
input:focus{
    background-color:lightskyblue;
    border-color: blue;
    border-width: 5px;

}
label{
    float: center;
    width: 50px;
}
input{
    text-align: center;
}
form{
    text-align: center;
}